<h1>Tasks</h1>
<h2><a href="/create">Add Task</a></h2>
<table>
    <thead>
        <th>Task</th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {{#each tasks}}
            <tr>
                <td class="task">{{this}}</td>
                <td><button class="btn">Complete</button></td>
                <td><a href="/edit/{{@index}}">Edit</a></td>
                <td>
                    <form action="/delete" method="post">
                        <input type="hidden" name="id" value="{{@index}}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>